$font: "Roboto", sans-serif;

$theme1: #a9ff3a;

$nav: 20;

$c0: #fff;
$c1: #f8f9fa;
$c2: #e9ecef;
$c3: #dee2e6;
$c4: #ced4da;
$c5: #adb5bd;
$c6: #6c757d;
$c7: #495057;
$c8: #343a40;
$c9: #212529;
$c10: #000;

$t1: 48px;
$t2: 36px;
$t3: 28px;
$t4: 18px;
$t5: 14px;
$t6: 12px;

$reg: 300;
$med: 500;
$big: 900;
